body {
  background: ;
}
nav {
  background: #333030;
}
nav #logOut {
  margin: 0 0 0 25px;
  border-radius: 25px;
  background: none;
  border: 2px solid #e1dbdb;
  color: #e1dbdb;
}
nav #logOut:hover {
  background: #e1dbdb;
  color: black;
}
.email {
  color: #f4e88b;
}
.books {
  position: relative;
  padding: 45px;
  height: auto;
  background: #8b8687;
}
.books #addNewBook {
  color: #f4e88b;
  font-size: 100px;
  text-align: center;
  line-height: 200px;
  background: #5f5b5c;
  height: 200px;
}
.books .book {
  position: relative;
  text-align: center;
  width: px;
  height: 200px;
  background: #5f5b5c;
  margin: 0 0 40px 0;
}
.books .nameOfBook {
  font-size: 20px;
  color: #f0df5c;
  background: #aea9aa;
  line-height: 60px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.options {
  color: white;
  padding: 40px;
  background: #a19d9d;
}
.form-control {
  color: #e1dbdb;
  background: none;
  border: none;
  border-bottom: 2px solid #e1dbdb;
  border-radius: 0;
}
label {
  color: #f4e88b;
}
.form-control:focus {
  color: #e1dbdb;
  background: none;
  box-shadow: none;
  outline: 0;
  outline-offset: 0;
}
.form-control::placeholder {
  color: #e1dbdb;
}
option {
  color: #e1dbdb;
  background: #5f5b5c;
}
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}
