body {
  background: ;
}
nav {
  background: #333030;
}
nav #logOut {
  margin: 0;
  border-radius: 25px;
  background: none;
  border: 2px solid #e1dbdb;
  color: #e1dbdb;
}
nav #logOut:hover {
  background: #e1dbdb;
  color: black;
}
#logo {
  color: #e1dbdb;
}
.email {
  color: #f4e88b;
  margin-right: 25px;
}
.books {
  min-height: 100vh;
  padding: 45px;
  height: auto;
  background: #8b8687;
}
.books #addNewBook {
  color: #f4e88b;
  font-size: 100px;
  text-align: center;
  line-height: 200px;
  background: #5f5b5c;
  height: 200px;
}
.books .book {
  padding: 15px;
  position: relative;
  text-align: center;
  width: px;
  height: 200px;
  background: #5f5b5c;
  margin: 0 0 40px 0;
}
.books .book:hover {
  cursor: pointer;
}
.books img {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.books .nameOfBook {
  font-size: 20px;
  color: #f0df5c;
  background: #aea9aa;
  line-height: 60px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.books .rating {
  position: absolute;
  top: 15px;
  right: 15px;
  float: right;
}
#comand {
  display: block;
}
.options {
  width: 1000px;
  color: white;
  padding: 40px;
  background: #a19d9d;
}
.form-control {
  color: #e1dbdb;
  background: none;
  border: none;
  border-bottom: 2px solid #e1dbdb;
  border-radius: 0;
}
label {
  color: #f4e88b;
}
.form-control:focus {
  color: #e1dbdb;
  background: none;
  box-shadow: none;
  outline: 0;
  outline-offset: 0;
}
.form-control::placeholder {
  color: #e1dbdb;
}
option {
  color: #e1dbdb;
  background: #5f5b5c;
}
.jk-rating-stars-container .button .material-icons {
  font-size: 14px;
}
.setRate .button .material-icons {
  font-size: 30px;
}
.setRate {
  margin: 15px 0;
}
.submit {
  margin: 0;
  border-radius: 25px;
  background: none;
  border: 2px solid #f4e88b;
  color: #f4e88b;
}
.submit:hover {
  background: #f4e88b;
  color: black;
}
.cancel {
  margin: 0;
  border-radius: 25px;
  background: none;
  border: 2px solid #e1dbdb;
  color: #e1dbdb;
}
.cancel:hover {
  background: #e1dbdb;
  color: black;
}
.has-error {
  color: #cc1616;
}
.has-error input {
  border-bottom: 2px solid #cc1616;
  color: #cc1616;
}
.has-error .form-control::placeholder {
  color: #cc1616;
}
