@yellow: #f4e88b;
@gray: #e1dbdb;
@darkGray: #5f5b5c;

body{
	background: ;
}

nav{
	background: #333030;
	#logOut{
		margin: 0;
		border-radius:25px;
		background: none;
		border: 2px solid @gray;
		color: @gray;
		&:hover{
			background: @gray;
			color: black;
		}
	}
}

#logo{
	color:@gray;
}

.email{
	color:@yellow;
	margin-right: 25px;
}


.books{
	min-height:100vh;
	padding: 45px;
	height:auto;
	background:#8b8687;
	
	#addNewBook{
		color: @yellow;
		font-size: 100px;
		text-align: center;
		line-height: 200px;
		background: @darkGray;
		height: 200px;
	}

	.book{
		padding: 15px;
		position:relative;
		text-align:center;
		width: px;
		height: 200px;
		background: @darkGray;
		margin:0 0 40px 0;
	}

	.nameOfBook{
		font-size:20px;
		color: darken(@yellow, 10%);
		background: #aea9aa;
		line-height:60px;
		text-align: center;
		position: absolute;
		bottom:0;
		right:0;
		left:0;
	}

	.rating{
		float: right;
	}
}


.options{
	width: 1000px;
	color: white;
	padding:40px;
	background: #a19d9d;
}

.form-control{
	color: @gray;
	background: none;
	border: none;
	border-bottom: 2px solid @gray;
	border-radius: 0;
}

label{
	color: @yellow;
}

.form-control:focus {
	color: @gray;

	background: none;
	box-shadow:none;
    outline: 0;
    outline-offset: 0;
}

.form-control::placeholder {
  color: @gray;
}

.opacity(@val) {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=@val);
    -moz-opacity: @val/100;
    -khtml-opacity: @val/100;
    opacity: @val/100;
}

option{
	color: @gray;
	background: @darkGray;
}

