<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
	

	<!-- bower:css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/auth.css">
	<link rel="stylesheet" href="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.css" />
	<!-- endbower -->
</head>
<body ng-controller='myCtrl'>
	<nav class="navbar navbar-toggleable-md navbar-dark">
	    <a class="navbar-brand" id='logo' href="#">
	      MyLib
	    </a>
	</nav>

	<div class="container-fluid">
		<div class="auth">
			<div class="form-group">
				<label for="userEmail">E-mail</label>
				<input type="text" ng-model='userEmail' name='userEmail' class="form-control">
			</div>
			<div class="form-group">
				<label for="userPassword">Password</label>
				<input type="password" ng-model='userPassword' name='userPassword' class="form-control">
			</div>
			<div class="form-group row">								
					<button class='btn signUp col' ng-click='signUp()'>Sign up</button>
					<button class="btn logIn col" ng-click='logIn()'>Log in</button>
			</div>
		</div>
	</div>
	<script src='js/auth.js'></script>
</body>
</html>