<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	

	<!-- bower:css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.css" />
	<!-- endbower -->

</head>
<body ng-controller='myCtrl'>
	<nav class="navbar navbar-toggleable-md navbar-dark">
	    <a class="navbar-brand" id='logo' href="#">
	      MyLib
	    </a>
	    <div>
	      <span class="email">serheyev_vladyslav@gymnasium9.kr.ua</span>
	      <button class="btn" id='logOut' type="button">Log out</button>
	    </div>
	  </nav>
	  <div class="container-fluid">
	  
	  <div class="row">
	    <div class="col-md-9 books">
	        <div class="row">
	          <div class="col-md-4">
	            <div id='addNewBook' class="book">
	              <?xml version="1.0"?>
	              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve" width="100px" height="100px"><g><polygon points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 " data-original="#000000" class="active-path" data-old_color="#f4e88b" fill="#f4e88b"/></g> </svg>
	            </div>
	          </div>
	          <div class="col-md-4" ng-repeat='book in books | filter: searchText | orderBy: sortText | limitTo:pageSize | filter: myOrderBy:true'>
	            <div class="book">
	              <div class="rating">
	              	<jk-rating-stars max-rating="5" rating="book.rate" style="display:{{book.rateDisplay}}" read-only="true" on-rating="ctrl.onRating(rating)" >
					</jk-rating-stars>
				  </div>
	              <div class="nameOfBook">{{book.name}}</div>           
	            </div>
	          </div>

	        

	      </div>
	    </div>
	    <div class="col-md-3 options">
	      <div class="form-group">
	          <label for="exampleInputEmail1">Search</label>
	          <input type="text" class="form-control" id="searchInput" aria-describedby="emailHelp" placeholder="e.g.:Harry Potter" ng-model='searchText.name'>
	      </div>
	      <div class="form-group">
	          <label for="exampleInputEmail1">Sort By</label>
	          <select ng-model="sortText" id="pageSize" class="form-control">
			    <option value="" selected>Select criteria</option>
			    <option value="-rate">Rate</option>
			    <option value="name">Name</option>
			    <option value="author">Author</option>
			    <option value="date">Date</option>
			</select>
	      </div>
	      <div class="form-group">
	          <label for="exampleInputEmail1">Paginate amount</label>
     		  <select ng-model="pageSize" id="pageSize" class="form-control">
			    <option value="" selected>Select amount</option>
			    
			    <option value="20">20</option>
			    <option value="50">50</option>
			    <option value="10">10</option>
			</select>
	      </div>
				<div class="radio">
  					<label><input type="radio" ng-click="orderByMe()" name="optradio">All</label>
				</div>
				<div class="radio">
		  			<label><input type="radio" ng-click="orderByMe('read')" name="optradio">Read</label>
				</div>
				<div class="radio">
  					<label><input type="radio" ng-click="orderByMe('unread')" name="optradio">Unread</label>
				</div>
	    </div>
	  </div>
	  </div>
	<div>
	
	<script src='js/index.js'></script>
  	<!-- bower:js -->
  	<script src="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>
  	<script src="bower_components/jquery/dist/jquery.js"></script>
  	
  	<!-- endbower -->

</body>
</html>

